# .ebextensions/01_python.config
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: backend/wsgi.py
    # If your 'application' object is in a different file, adjust accordingly.

# Optionally, you can specify environment variables or other EB settings here.
# For example:
# option_settings:
#   - namespace: aws:elasticbeanstalk:application:environment
#     option_name: FLASK_ENV
#     value: production

container_commands:
  01_install_reqs:
    # Ensure dependencies from 'backend/requirements.txt' are installed
    command: "pip install -r backend/requirements.txt"

  # 02_run_migrations (optional)
  # If you want migrations on each deployment:
  # 02_run_migrations:
  #   command: "flask db upgrade"
  #   leader_only: true
